@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Main font defined in body */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* header container */
.header-container {
    display: flex;
    flex-direction: column;
    background: #2D25A0;
    width: 100%;
}
/* navigation bar */
.navbar {
    display: flex;
    justify-content:center;
    align-items: center;
}

.navbar .site-nav,.user-nav {
    list-style: none;
    color: white;
}

.site-nav li, .user-nav li {
    display: inline-block;
    padding: 30px 36px 50px 0;
}

.site-nav {
    margin-right: 130px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E02C6D;
    width: 168px;
    padding: 10px 0;
}

.user-button {
    margin-right: 8px;
}
/* header cover photo and title section */
.header-cover-area {
    display: flex;
    justify-content: center;
}

.header-cover-area:hover .header-image img {
    transform: scale(1.2) rotate(3deg) translate(50px);
}

.header-text {
    color: white;
    margin-right: 102px;
}

.header-title {
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 27px;
}

.watch-button {
    margin-left: 8px;
    color: white;
}

.link {
    text-decoration: none;
    color: white;
}

.header-image img {
    width: 556px;
    padding-bottom: 86px;
    transition: transform 1s ease;
}

/* player grid design */
.player-container {
    padding: 70px 0 150px 0;
    display: flex;
    justify-content: center;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 27px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    width: 300px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.players .player-image img {
    width: 300px;
}

.player-info .player-name {
    font-size: 28px;
    font-weight: 700px;
    line-height: 40px;
}

/* highlight section design */
.highlights {
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlight-info, .highlight-image {
    padding: 33px;
}

.highlight-info .h-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 8px;
}

.highlights .highlight-image img {
    width: 567px;
}

/* article section design */
.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.article-header {
    display: flex;
    margin-bottom: 0;
}

.article-header h4 {
    padding: 20px 20px;
    margin-bottom: 0;
    border-top: 2px dotted #2D25A0;
    border-right: 2px dotted #2D25A0;
}

.article-header .rel-art {
    background: #2D25A0;
    color: white;
}

.art-hr {
    border-top: 5px solid #2D25A0;
    width: 1150px;
    margin-top: 0;
}

.article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    padding-top: 20px;
}

.article .report {
    padding: 15px;
    text-align: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border: 3px solid lightgrey;
}

.article .report img {
    width: 330px;
}

/* news-shelter design */
.news-shelter {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.shelter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    border: 2px solid lightgrey;
    padding: 20px 50px 50px;
    background-color: #2d25a01f;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.shelter-container input {
    width: 500px;
    height: 50px;
    padding: 10px 10px 10px 30px;
    margin: 10px;
    font-size: 1.1em;
    font-weight: 700;
    border: 3px solid rgb(110, 179, 202);
}

/* footer design */
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 158px 0 63px 0;
}

.footer-container .logo img {
    width: 484px;
    padding-bottom: 13px;
}

.social-icon i {
    padding: 7px 7px 20px 7px;
}

.copyright-text small {
    font-size: 18px;
}

/* ---------------------------------
responsive design starts here
Breakpoint for,
iPhone 5s/Se 350px;
Pixel 2, 2xl, iPhone X, iPhone 6/7/8 Plus 351px to 688px;
For ipad, tablet 689px to 1300px;
Desktop 1301px or more.
------------------------------------ */


/* For Tablet */
@media only screen and (max-width: 1300px) {
    .navbar {
        font-size: 0.8em;
    }

    .header-cover-area {
        padding: 16px;
    }

    .header-title {
        font-size: 36px;
        line-height: 50px;
    }

    .header-image img {
        width: 329px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .players, .article {
        grid-template-columns: 1fr 1fr;
    }

    .highlight-info .h-title {
        font-size: 30px;
        line-height: 40px;
    }

    .highlights .highlight-image img {
        width: 328px;
    }

    .article {
        row-gap: 30px;
    }

    .article-header {
        font-size: 0.8em;
    }

    .art-hr {
        width: 90vw;
    }

    .article-container .article .report img {
        width: 300px;
    }

    .footer-container .logo img {
        width: 271px;
    }

    .shelter-container, .shelter-container input {
        width: 70vw;
    }
    .navbar {
        display: none;
    }
  }

  /* For big screen mobile */
  @media only screen and (max-width: 688px) {
      .header-cover-area {
          flex-direction: column;
      }

      .players, .article {
        grid-template-columns: 1fr;
    }

    .shelter-container, .shelter-container input {
        width: 60vw;
    }

    .highlights {
        flex-direction: column;
    }

    .highlights .highlight-image img {
        width: 260px;
    }
}

/* For small screen mobile */
@media only screen and (max-width: 350px) {
    .header-title {
        font-size: 28px;
        line-height: 40px;
    }

    .header-image img {
        width: 260px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .highlights .highlight-image img {
        width: 260px;
    }

    .article .report {
        width: 80vw;
    }

    .article-header {
        font-size: 0.7em;
    }

    .article-container .article .report img {
        width: 260px;
    }

    .players .player-image img {
        width: 260px;
    }

    .player {
        width: 80vw;
    }
}